body {
    font-family: "Lato", sans-serif;
}

h1, h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

#likeContainer {
    text-align: center;
}

#numLikes {
    display: inline-block;
    border-bottom: black solid 1px;
    width: 0 auto;
    font-size: 5em;
    margin-bottom: 10px;
}

#like {
    line-height: 1.75;
    width: 70px;
    color: white;
    background-color: #4CC754;
    border: none;
    outline: none;
    transition: background-color 0.15s linear;
}

#like:hover {
    background-color: #2EA336;
}
