<!DOCTYPE html>
<html>
<head>
  <title>Assignment 9</title>
  <link href='https://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="stylesheets/count.css">
</head>
<body>
  <h1>Assignment 9</h1>
  <h2>Counting</h2>
  <div id="likeContainer">
    <span id="numLikes">{{ count }}</span>
    <br>
    <button id="like">Like</button>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script type="text/javascript" src="scripts/count.js"></script>
</body>
</html>
